/* Fontes */

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Sixtyfour&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family:'Napzer-Regular';
    src: url('../fonts/Napzer-Regular.otf');
}

@font-face {
    font-family:'Never' ;
    src: url('../fonts/Never.otf');
}

@font-face {
    font-family:'Rush_Funky' ;
    src: url('../fonts/Rush\ Funky.ttf');
}

/* Fim fontes */


/* Estilo da navegação fixa no topo */
nav.topo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    z-index: 10;
    font-family: "Cabin",sans-serif;
}

nav.topo ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.topo ul li {
    display: inline-block;
    margin: 0 15px;
}

nav.topo ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav.topo ul li a:hover {
    text-decoration: underline;
}
/* Fim do Estilo NavBar Topo */

/* Estilo da navegação lateral esquerda */
nav.lateral {
    position: absolute;
    top: 57.7vw;
    left: 0;
    width: 200px;
    height: 77.7vh;
    background-color: #a9a9a9 ;
    color: #fff;
    padding: 10px;
    font-family: "Napzer-Regular",sans-serif;
}

nav.lateral ul {
    list-style-type: none;
    padding: 0;
}

nav.lateral ul li {
    margin-bottom: 15px;
}

nav.lateral ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav.lateral ul li a:hover {
    text-decoration: underline;
}
/* Fim Estilo da navBar esquerda */

/* Estilo table produtos */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff; 
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Cinza */
}
tr:nth-child(odd) {
    background-color: #ffffff; /* Branco */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
/* Fim estilo table produtos */

/* Estilo geral do corpo */
body {
    background-color: #696969;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* Título */
.titulo,
h1,
h3 {
    text-align: center;
    color: #fff;
}

.titulo {
    margin-top: 18%;
    margin-bottom: 20%;
}

.titulo,
h3 {
    font-size: 3vw;
    font-family: "Sixtyfour",sans-serif;
}

/* Estilo para a seção de conteúdo */
.partebaixo {
    margin-left: 220px; /* Deixa o conteúdo começar após a barra lateral */
    padding: 20px;
    background-color: #fff;
    text-align: center;
    font-size: large;
    flex-grow: 1;
}

.icons{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.sobrenos,
.vejamais {
    color: black;
    font-family: "Ubuntu+Mono",sans-serif;
}

.sobrenos h3{
    font-family: "Rush_Funky", sans-serif;
}

footer {
    font-family: "Never",sans-serif;
    text-align: center;
    color: #fff;
    padding: 20px 0;
    background-color: rgb(51, 51, 51);
}

/* Links */
a {
    color: black;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul a:hover {
    text-decoration: underline;
}
